<!DOCTYPE html>
<html ng-app='MenuApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Using $http Service</title>
  </head>
  <body>
    <h1>Using $http Service</h1>

    <div ng-controller='MenuAppController as menu'>
      <h3>List of Menu Categories</h3>
      <br></br>
      <input type="text" ng-model = "menu.test"placeholder="menu.test">
      <button ng-click="menu.NarrowIt(menu.test);">Narrow it down</button>
      
      <ul>
        <li ng-repeat="category in menu.categories | filter :test">
          
          {{ category.name}}
        </li>
      </ul>
    </div>

  </body>
</html>
